<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/simplebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/feather.css">
    <link rel="stylesheet" href="/static/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="/static/css/app-dark.css" id="darkTheme">
  </head>
  <body class="dark">
    <div class="wrapper vh-100">
      <div class="row align-items-center h-100">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" action="" method="post">
          {% csrf_token %}
          <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
            <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 120 120">
              <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87" />
                <polygon class="st0" points="96,69 33,69 42,51 105,51" />
                <polygon class="st0" points="78,33 15,33 24,15 87,15" />
              </g>
            </svg>
          </a>
          <h1 class="h6 mb-3">Sign in</h1>

          <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>

          <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>

          <!-- New 'Create Account' Section -->
          <div class="form-group mt-4">
            <p class="small text-muted">Don't have an account?</p>
            <a href="{% url 'register' %}" class="btn btn- btn-sm text-dark">Create Account</a>
          </div>
          

          <p class="mt-5 mb-3 text-muted">© 2024</p>
        </form>
      </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/apps.js"></script>
  </body>
</html>
