<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>LMAN</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/static/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/static/css/mystyles.css">
    

    <link rel="stylesheet" href="/static/css/feather.css">
    <link rel="stylesheet" href="/static/css/select2.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <link rel="stylesheet" href="/static/css/uppy.min.css">
    <link rel="stylesheet" href="/static/css/jquery.steps.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/static/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/static/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/static/css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="/static/css/app-dark.css" id="darkTheme">

    <!--os icons-->

<!-- CSS for Modal Centering -->
<style>
  .logout-icon-container {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bd8a8a; /* Light red background */
    border-radius: 50%;
    margin: 0 auto; /* Center horizontally */
  }
  
  .logout-icon-container i {
    font-size: 48px; /* Increase icon size */
    color: #ff0a22; /* Red color for the icon */
  }

  .modal-header {
    border-bottom: none; /* Remove border line if needed */
  }

  .modal-title {
    margin-top: 10px; /* Adjust spacing between icon and text */
    margin-bottom: 0; /* Remove bottom margin if needed */
  }

  .modal-footer {
    border-top: none; /* Remove the border line if needed */
  }
</style>

  </head>
  <body class="vertical  dark  ">
    
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
        </form>
        <ul class="nav"> 
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
              <span class="fe fe-grid fe-16"></span>
            </a>
          </li>
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
              <span class="fe fe-bell fe-16"></span>
              <span class="dot dot-md bg-success"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                <img src="/static/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Activities</a>                                                    
            </div>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{%url 'home'%}">
              <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
            </a>
          </div>

          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                <li class="nav-item active">
                  <a class="nav-link pl-3" href="{%url 'home'%}"><span class="ml-1 item-text">Overview</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href=""><span class="ml-1 item-text">System Health</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href=""><span class="ml-1 item-text">Recent Alerts</span></a>
                </li>
              </ul>
            </li>
          </ul>


          
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Log Management</span>
          </p>
          
          <ul class="navbar-nav flex-fill w-100 mb-2">
          
            <!-- Log Sources -->
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'logsources' %}">
                <i class="fe fe-database fe-16"></i> 
                <span class="ml-3 item-text">Log Sources</span>
              </a>
            </li>
          
            <!-- Log Ingestion Dropdown -->
            <li class="nav-item dropdown">
              <a href="#logIngestionDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-upload-cloud fe-16"></i>
                <span class="ml-3 item-text">Log Ingestion</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="logIngestionDropdown">
                
                <!-- Add Log Source -->
                <li class="nav-item w-100">
                  <a class="nav-link" href="{% url 'system_os_types' %}">                    
                    <span class="ml-3 item-text">+ Add Log Source</span>
                  </a>
                </li>
          
              </ul>
            </li>
                            
            <!-- Reports Dropdown -->
            <li class="nav-item dropdown">
              <a href="#reportsDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-bar-chart fe-16"></i>
                <span class="ml-3 item-text">Reports</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="reportsDropdown">        
                          
                <li class="nav-item w-100">
                  <a class="nav-link" href="{% url 'gen_reports' %}">
                    <i class="fe fe-file-text fe-14"></i>
                    <span class="ml-3 item-text">Generate Report</span>
                  </a>
                </li>
          
              </ul>
            </li>
          
          </ul>
          
          

          
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Monitoring and Analysis</span> 
          </p>
          
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <!-- Performance Monitoring Dropdown -->
            <li class="nav-item dropdown w-100">
              <a href="#performanceMonitoringDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-activity fe-16"></i>
                <span class="ml-3 item-text">Performance Tracking</span>
              </a>
              <!-- Collapsible List for Dropdown Items -->
              <ul class="collapse list-unstyled pl-4 w-100" id="performanceMonitoringDropdown">
                <li class="nav-item w-100">
                  <a class="nav-link" href="">
                    <i class="fe fe-bar-chart-2 fe-16"></i>
                    <span class="ml-3 item-text">Performance Metrics</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          
                            
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Alerts & IRM</span> 
          </p>

          <ul class="navbar-nav flex-fill w-100 mb-2">
            <!-- Alerting Dropdown -->
            <li class="nav-item dropdown w-100">
              <a href="#alertingDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-bell fe-16"></i>
                <span class="ml-3 item-text">Alerting</span>
              </a>
              <!-- Collapsible List for Dropdown Items -->
              <ul class="collapse list-unstyled pl-4 w-100" id="alertingDropdown">

                <li class="nav-item w-100">
                  <a class="nav-link" href="{% url 'notification-policies' %}">
                    <i class="fe fe-settings fe-16"></i> 
                    <span class="ml-3 item-text">Notification Settings</span>
                  </a>
                </li>
                <li class="nav-item w-100">
                  <a class="nav-link" href="{% url 'alert_history' %}">
                    <i class="fe fe-archive fe-16"></i>
                    <span class="ml-3 item-text">Alert History</span>
                  </a>
                </li>
                                
              </ul>
              
            </li>
          </ul>
                          
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>AI and Machine Learning</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">      
          
            <!-- Model Management Dropdown -->
            <li class="nav-item dropdown">
              <a href="#modelManagementDropdown" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-cpu fe-16"></i> 
                <span class="ml-3 item-text">Model Management</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="modelManagementDropdown">
                <!-- AI Models -->
                <li class="nav-item w-100">
                  <a class="nav-link" href="">
                    <i class="fe fe-box fe-16"></i> 
                    <span class="ml-3 item-text">AI Models</span>
                  </a>
                </li>

                <!-- Model Performance -->
                <li class="nav-item w-100">
                  <a class="nav-link" href="">
                    <i class="fe fe-bar-chart-2 fe-16"></i> 
                    <span class="ml-3 item-text">Model Performance</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
                   

          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Settings</span>
          </p>
          
          <ul class="navbar-nav flex-fill w-100 mb-2">
          
            <!-- Account Settings -->
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'accountsettings' %}">
                <i class="fe fe-settings fe-16"></i> 
                <span class="ml-3 item-text">Account Settings</span>
              </a>
            </li>
          
          
       
          </ul>
          
                  
          

          <!-- Help and Support Section -->
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Help and Support</span>
          </p>
          
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <!-- Help and Support Dropdown -->
            <li class="nav-item dropdown">
              <a href="#help" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-help-circle fe-16"></i> 
                <span class="ml-3 item-text">Help and Support</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="help">
                <li>
                  <a class="nav-link pl-3" href="./support-center.html">
                    <i class="fe fe-book fe-14"></i> 
                    <span class="ml-1">User Documentation</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        
          <div class="btn-box w-100 mt-4 mb-1">
            <button 
            type="button" 
            class="btn mb-2 btn-danger btn-lg btn-block" 
            data-toggle="modal" 
            data-target="#logoutModal">
            <i class="fe fe-log-out fe-12 mx-2"></i><span class="small">Logout</span>
        </button>
          
          </div>
        </nav>
      </aside>

      <main role="main" class="main-content">

        {%block content%}
        {%endblock%}

        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-box fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Package has uploaded successfull</strong></small>
                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-download fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Widgets are updated successfull</strong></small>
                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-inbox fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Notifications have been sent</strong></small>
                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item bg-transparent">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="fe fe-link fe-24"></span>
                      </div>
                      <div class="col">
                        <small><strong>Link was attached to menu</strong></small>
                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                      </div>
                    </div>
                  </div> <!-- / .row -->
                </div> <!-- / .list-group -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body px-5">
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-success justify-content-center">
                      <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Control area</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Activity</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Droplet</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Upload</p>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-users fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Users</p>
                  </div>
                  <div class="col-6 text-center">
                    <div class="squircle bg-primary justify-content-center">
                      <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                    </div>
                    <p>Settings</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- main -->

    </div> <!-- .wrapper -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/simplebar.min.js"></script>
    <script src='/static/js/daterangepicker.js'></script>
    <script src='/static/js/jquery.stickOnScroll.js'></script>
    <script src="/static/js/tinycolor-min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/topojson.min.js"></script>
    <script src="/static/js/datamaps.all.min.js"></script>
    <script src="/static/js/datamaps-zoomto.js"></script>
    <script src="/static/js/datamaps.custom.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="/static/js/gauge.min.js"></script>

    <script src="/static/js/perfect-scrollbar.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/apexcharts.min.js"></script>
    <script src="/static/js/apexcharts.custom.js"></script>
    <script src='/static/js/jquery.mask.min.js'></script>
    <script src='/static/js/select2.min.js'></script>
    <script src='/static/js/jquery.steps.min.js'></script>
    <script src='/static/js/jquery.validate.min.js'></script>
    <script src='/static/js/jquery.timepicker.js'></script>
    <script src='/static/js/dropzone.min.js'></script>
    <script src='/static/js/uppy.min.js'></script>
    <script src='/static/js/quill.min.js'></script>
    <script>
      $('.select2').select2(
      {
        theme: 'bootstrap4',
      });
      $('.select2-multi').select2(
      {
        multiple: true,
        theme: 'bootstrap4',
      });
      $('.drgpicker').daterangepicker(
      {
        singleDatePicker: true,
        timePicker: false,
        showDropdowns: true,
        locale:
        {
          format: 'MM/DD/YYYY'
        }
      });
      $('.time-input').timepicker(
      {
        'scrollDefault': 'now',
        'zindex': '9999' /* fix modal open */
      });
      /** date range picker */
      if ($('.datetimes').length)
      {
        $('.datetimes').daterangepicker(
        {
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale:
          {
            format: 'M/DD hh:mm A'
          }
        });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end)
      {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }
      $('#reportrange').daterangepicker(
      {
        startDate: start,
        endDate: end,
        ranges:
        {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
      {
        placeholder: "__/__/____"
      });
      $('.input-zip').mask('00000-000',
      {
        placeholder: "____-___"
      });
      $('.input-money').mask("#.##0,00",
      {
        reverse: true
      });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
      {
        translation:
        {
          'Z':
          {
            pattern: /[0-9]/,
            optional: true
          }
        },
        placeholder: "___.___.___.___"
      });
      // editor
      var editor = document.getElementById('editor');
      if (editor)
      {
        var toolbarOptions = [
          [
          {
            'font': []
          }],
          [
          {
            'header': [1, 2, 3, 4, 5, 6, false]
          }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
          {
            'header': 1
          },
          {
            'header': 2
          }],
          [
          {
            'list': 'ordered'
          },
          {
            'list': 'bullet'
          }],
          [
          {
            'script': 'sub'
          },
          {
            'script': 'super'
          }],
          [
          {
            'indent': '-1'
          },
          {
            'indent': '+1'
          }], // outdent/indent
          [
          {
            'direction': 'rtl'
          }], // text direction
          [
          {
            'color': []
          },
          {
            'background': []
          }], // dropdown with defaults from theme
          [
          {
            'align': []
          }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
        {
          modules:
          {
            toolbar: toolbarOptions
          },
          theme: 'snow'
        });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function()
      {
        'use strict';
        window.addEventListener('load', function()
        {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form)
          {
            form.addEventListener('submit', function(event)
            {
              if (form.checkValidity() === false)
              {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script>
      var uptarg = document.getElementById('drag-drop-area');
      if (uptarg)
      {
        var uppy = Uppy.Core().use(Uppy.Dashboard,
        {
          inline: true,
          target: uptarg,
          proudlyDisplayPoweredByUppy: false,
          theme: 'dark',
          width: 770,
          height: 210,
          plugins: ['Webcam']
        }).use(Uppy.Tus,
        {
          endpoint: 'https://master.tus.io/files/'
        });
        uppy.on('complete', (result) =>
        {
          console.log('Upload complete! We’ve uploaded these files:', result.successful)
        });
      }
    </script>
    <script src="/static/js/apps.js"></script>

    <script src="/static/js/myjs.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>    

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <!-- Logout Icon Container with Circle Background -->
        <div class="logout-icon-container mx-auto mb-3">
          <i class="feather-icon" data-feather="log-out"></i>
        </div>
        <h5 class="modal-title">Logout</h5>
        <p>Are you sure you want to log out?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a href="{% url 'logout' %}" class="btn btn-danger btn-lg">Yes, Logout</a>
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace();
</script>

  </body>
</html>